    // more then 1920px
    @media screen and (min-width: 1920px) {
        .advantage {
            &__container {
                justify-content: center;
            }
        }
    }
    
    @media screen and (max-width: 1600px) {
        .main {
            height: 100%;
            &__container {
                padding-top: 52px;
                align-items: flex-end;
            }
            &__content {
                padding: 0 0 71px 0;
            }
            &__image {
                width: 358px;
                height: 550px;
                >img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .advantage {
            &__image {
                width: 662px;
            }
        }
    }
    
    @media screen and (max-width: 1440px) {
        .reviews {
            &__slider {
                padding-left: 39px;
                .slick-prev {
                    left: -20px;
                }
            }
        }
    }
    
    @media screen and (max-width: 1199px) {
        .main {
            .logo {
                width: 75px;
                &__link {
                    >img {
                        width: 100%;
                    }
                }
            }
            &__container {
                padding: 52px 30px 0 30px;
                justify-content: center;
            }
            &__image {
                width: 300px;
                height: 500px;
            }
            &__content {
                max-width: 370px;
            }
            &__title {
                font-size: 30px;
                line-height: 40px;
                margin: 30px 0 20px;
            }
            &__text {
                font-size: 14px;
                line-height: 24px;
            }
            &__btn {
                margin-top: 30px
            }
        }
        .wrapper {
            &__container {
                padding: 0 30px;
                align-items: end;
            }
            &__content {
                max-width: 400px;
                margin-right: 20px;
            }
            &__title {
                font-size: 27px;
            }
            &__image {
                >img {
                    width: 100%;
                }
            }
        }
        .video {
            &__content {
                width: 587px;
                height: 330px;
            }
        }
        .service {
            &__container {
                padding: 0 30px 65px 30px;
            }
            &__item {
                max-width: 226px;
            }
            &__item-title {
                font-size: 25px;
            }
            &__item-text {
                font-size: 15px;
                line-height: 22px;
            }
        }
        .advantage {
            &__content {
                max-width: 273px;
                margin: 45px 60px 0 50px;
            }
            &__title {
                font-size: 27px;
            }
            &__text {
                font-size: 14px;
                line-height: 21px;
            }
        }
        .reviews {
            &__container {
                padding: 0 30px;
            }
            &__item {
                padding-right: 35px;
            }
        }
        .partnership {
            &__container {
                max-width: 496px;
            }
        }
        .connect {
            padding: 60px 0 50px 0;
            &__form-btn {
                padding: 13px 63px;
            }
        }
    }
    
    @media screen and (max-width: 767px) {
        .main {
            &__container {
                flex-wrap: wrap;
            }
            &__content {
                max-width: 100%;
                padding: 0 0 50px;
            }
            &__image {
                width: 270px;
                height: 390px;
            }
        }
        .wrapper {
            &__container {
                padding: 0 39px;
                flex-wrap: wrap;
                justify-content: center;
            }
            &__content {
                margin-right: 0;
                max-width: 100%;
            }
            &__image {
                margin-top: 18px;
            }
        }
        .video {
            padding: 40px 15px;
            &__title {
                font-size: 27px;
            }
            &__content {
                width: 100%;
                height: 300px;
            }
        }
        .service {
            padding: 0 39px 5px 39px;
            &__container {
                width: 100%;
                margin: 0 auto;
                display: block;
                padding: 0 30px;
            }
            &__item {
                margin-bottom: 35px;
                max-width: 100%;
                text-align: center;
            }
        }
        .advantage {
            &__container {
                flex-wrap: wrap;
                justify-content: center;
            }
            &__image {
                width: 100%;
                height: 420px;
            }
            &__content {
                margin: 0;
                max-width: 100%;
                padding: 40px 39px;
            }
        }
        .reviews {
            &__title {
                font-size: 27px;
                margin-bottom: 30px;
            }
            &__slider {
                padding: 0;
                max-width: 370px;
                margin: 0 auto;
                .slick-next {
                    top: 44%;
                    right: 0;
                }
            }
            &__item {
                padding: 20px;
            }
        }
        .partnership {
            text-align: center;
            &__container {
                max-width: 100%;
                display: block;
            }
            &__item {
                margin-bottom: 35px;
                &.item--1,
                &.item--2,
                &.item--3,
                &.item--4,
                &.item--5,
                &.item--6 {
                    animation-delay: 1s;
                }
            }
        }
        .connect {
            padding: 40px 15px;
            &__title {
                font-size: 27px;
            }
        }
    }
    
    @media screen and (max-width: 500px) {
        .connect {
            &__form-action {
                display: block;
                text-align: center;
            }
            &__form-btn {
                margin-top: 25px;
            }
            &__form-item {
                >textarea {
                    height: 294px;
                }
            }
        }
    }
    
    @media screen and (max-width: 425px) {
        .main {
            &__container {
                padding: 20px 15px 0 15px;
            }
            .logo {
                width: 50px;
            }
            &__content {
                padding-bottom: 22px;
            }
            &__title {
                font-size: 32px;
                margin: 25px 0 20px;
            }
            &__text {
                font-size: 16px;
            }
            &__btn {
                margin-top: 25px;
                padding: 13px 30px;
            }
            &__image {
                width: 176px;
                height: 270px;
            }
        }
        .wrapper {
            padding: 40px 0;
            &__title {
                font-size: 25px;
                line-height: 35px;
                margin-bottom: 20px;
            }
            &__text {
                font-size: 14px;
                line-height: 22px;
            }
        }
        .video {
            &__title {
                font-size: 25px;
                margin-bottom: 40px;
            }
            &__content {
                height: 164px;
            }
        }
        .service {
            padding: 0 39px;
            &__container {
                width: 100%;
                margin: 0 auto;
                display: block;
                padding: 0 0 5px 0;
            }
            &__item {
                margin-bottom: 35px;
                text-align: start;
            }
            &__item-img {
                &.item-img--2,
                &.item-img--3 {
                    animation-delay: 1s;
                }
            }
            &__item-title {
                font-size: 20px;
                line-height: 30px;
            }
            &__item-text {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .advantage {
            &__image {
                height: 220px;
            }
            &__title {
                font-size: 25px;
                line-height: 35px;
            }
            &__text {
                font-size: 14px;
                line-height: 20px;
            }
        }
        .reviews {
            padding: 40px 0 60px 0;
            &__container {
                padding: 0 11px;
            }
            &__title {
                margin-bottom: 20px;
                font-size: 25px;
                line-height: 30px;
                padding: 0 15px;
            }
            &__item-text {
                font-size: 14px;
                line-height: 25px;
            }
            &__slider {
                .slick-next {
                    &:before {
                        width: 12px;
                    }
                }
                .slick-prev {
                    left: -10px;
                    &:before {
                        width: 12px;
                    }
                }
            }
        }
        .connect {
            &__title {
                font-size: 25px;
                line-height: 35px;
                padding: 0 24px;
                margin-bottom: 35px;
            }
            &__form-item {
                margin-bottom: 30px;
                &.item--textarea {
                    margin-bottom: 20px;
                }
                &.item--1,
                &.item--2,
                &.item--3 {
                    animation-delay: 1s;
                }
                >textarea {
                    height: 114px;
                    font-size: 16px;
                    line-height: 20px;
                    padding: 21px 11px 13px 17px;
                }
            }
            &__form-action {
                &.item--4 {
                    animation-delay: 1s;
                }
            }
            &__form-title {
                font-size: 16px;
                line-height: 16px;
            }
            &__form-input {
                font-size: 16px;
                line-height: 20px;
            }
            &__form-check {
                text-align: start;
            }
        }
        .footer {
            padding: 0 0 40px;
            .logo {
                display: none;
            }
        }
    }